---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="ACM Apps · Sistemas digitales desde la operativa real">
  <section>
    <h1>
      Diseñamos y operamos sistemas digitales
      <br />
      que resuelven procesos reales
    </h1>

    <p>
      Consultoría tecnológica especializada en la creación de infraestructuras
      escalables y automatización de procesos para PYMES e instituciones.
    </p>

    <div>
      <a href="/sistemas">Ver sistemas</a>
      <a href="/consultoria">Consultoría basada en IA</a>
    </div>
  </section>
</MainLayout>
